body{
    margin:0;
}
#wrap{
    min-width:1340px;
}
#header, #container, #footer{
    width:1280px;
    margin: 0 auto;
}
#container{
    min-height:500px;
}
.background-color-org{
    background-color: rgb(216, 230, 254);
}
.main-nav{
    width: 100%;
}
.nav-center {
    display: flex; /* flexbox로 내부 아이템을 가운데 정렬 */
    justify-content: center; /* 가로 중앙 정렬 */
    align-items: center; /* 세로 중앙 정렬 */
    padding: 1rem 2rem; /* 상하 좌우 패딩 */
}
.nav-link {
    color: #333; /* 링크 색상 */
    text-decoration: none; /* 밑줄 제거 */
    margin: 0 15px; /* 좌우 마진 */
    font-size: 16px; /* 폰트 크기 */
    font-weight: 500; /* 폰트 두께 */
    padding: 5px 10px; /* 패딩 */
    border-radius: 5px; /* 모서리 둥글기 */
    transition: background-color 0.3s ease; /* 배경 색상 변화 효과 */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
.nav-link:hover {
    background-color: #f2f2f2; /* 호버 시 배경 색상 */
}

/* Flexipage */
.page-header{
    padding: 1rem;
    border-radius: .25rem;
    border: 1px solid #c9c9c9;
}
.page-header-title{
    display:flex;
}
.title-figure{
}
.title-body{

}
.invite-container {
    max-width: 375px;
    margin: 0 auto;
    padding: 20px;
    background-color: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.invite-title {
    color: #ff69b4;
    font-size: 24px;
    margin-bottom: 10px;
}

.invite-gallery_container {
    position: relative;
    width: 100%;
    overflow: hidden;
}

.invite-gallery {
    list-style: none;
    padding: 0;
    margin: 0;
}

.invite-gallery li {
    display: none;
}

.invite-gallery img {
    width: 100%;
    height: auto;
    display: block;
}
